n8n/workflow-scrape-logos.json
{
  "name": "Scrape Logos Pizzarias SP",
  "nodes": [
    {
      "parameters": {
        "operation": "read",
        "filePath": "data/enderecos.csv",
        "options": {
          "fromLine": 17,
          "toLine": 101
        }
      },
      "id": "read-csv",
      "name": "Ler Pizzarias 16-100",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": [
          {
            "name": "searchQuery",
            "value": "={{ $json.Pizzaria }} pizzaria logo"
          },
          {
            "name": "posicao",
            "value": "={{ $json.Posição }}"
          },
          {
            "name": "nome",
            "value": "={{ $json.Pizzaria }}"
          }
        ],
        "options": {}
      },
      "id": "prepare-query",
      "name": "Preparar Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.google.com/search?q={{ encodeURIComponent($json.searchQuery) }}&tbm=isch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "google-search",
      "name": "Google Images Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || '';\nconst imgRegex = /https?:\\/\\/[^\"']+\\.(?:jpg|jpeg|png|webp)/gi;\nconst matches = html.match(imgRegex) || [];\nconst filtered = matches.filter(url => \n  !url.includes('google') && \n  !url.includes('gstatic') &&\n  !url.includes('schema.org') &&\n  url.length < 200\n);\nconst url = filtered[0] || null;\nreturn {\n  json: {\n    imageUrl: url,\n    posicao: $('Preparar Query').item.json.posicao,\n    nome: $('Preparar Query').item.json.nome\n  }\n};"
      },
      "id": "extract-image-url",
      "name": "Extrair URL da Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.imageUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-image",
      "name": "Tem Imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 10000
        }
      },
      "id": "download-image",
      "name": "Download Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 250]
    },
    {
      "parameters": {
        "fileName": "=logos/{{ $('Extrair URL da Imagem').item.json.posicao }}-{{ $('Extrair URL da Imagem').item.json.nome }}.jpg",
        "fileContent": "={{ $json.data }}",
        "options": {}
      },
      "id": "save-file",
      "name": "Salvar Imagem",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1570, 250]
    },
    {
      "parameters": {
        "values": [
          { "name": "status", "value": "skipped" },
          { "name": "nome", "value": "={{ $json.nome }}" }
        ]
      },
      "id": "no-image",
      "name": "Sem Imagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1350, 400]
    }
  ],
  "connections": {
    "Ler Pizzarias 16-100": { "main": [[{ "node": "Preparar Query", "type": "main", "index": 0 }]] },
    "Preparar Query": { "main": [[{ "node": "Google Images Search", "type": "main", "index": 0 }]] },
    "Google Images Search": { "main": [[{ "node": "Extrair URL da Imagem", "type": "main", "index": 0 }]] },
    "Extrair URL da Imagem": { "main": [[{ "node": "Tem Imagem?", "type": "main", "index": 0 }]] },
    "Tem Imagem?": {
      "main": [
        [{ "node": "Download Imagem", "type": "main", "index": 0 }],
        [{ "node": "Sem Imagem", "type": "main", "index": 0 }]
      ]
    },
    "Download Imagem": { "main": [[{ "node": "Salvar Imagem", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
